<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarity - In game</title>
    <link rel="stylesheet" type="text/css" href="/public/out.css" />
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
        integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1 class="text-5xl font-semibold text-center mt-4">Clarity</h1>
    <p class="text-xl text-center my-2">The game can be started once there are between 2 and 10 players.</p>
    <p class="text-center mb-2">Share code: <span id="share" class="font-mono text-xl"></span></p>
    <div class="flex items-center justify-center w-full my-2">
        <input type="text" name="rename" id="renamer" placeholder="Change name?">
    </div>
    <div id="playerlist"
        class="bg-neutral-200 rounded-xl w-1/4 min-w-[5cm] max-w-[30cm] h-fit mx-auto p-4 *:bg-neutral-300 *:m-2 *:p-2 *:rounded-lg *:text-center *:w-full flex flex-col items-center justify-center">
    </div>
    <div class="flex items-center justify-center w-full my-2">
        <button id="start" class="bg-neutral-800 text-white px-3 py-2 rounded-md cursor-pointer"
            onclick="startGame();">Start</button>
    </div>
    <div id="gameplay" class="w-full max-w-[30cm] mx-auto *:max-w-[10cm] *:p-4 *:mx-auto">

    </div>
</body>
<script>
    const playerlist = document.getElementById('playerlist')
    const share = document.getElementById('share')
    const start = document.getElementById('start')
    const gameplay = document.getElementById('gameplay')
    const renamer = document.getElementById('renamer')

    const game_data_str = `{{ game| tojson | safe}}`
    var game_data = JSON.parse(game_data_str)
    share.innerText = game_data.share
    console.log(game_data)
    const socket = io();
    var connected = false;
    var user_map = {};

    var current_round = 1;
    var current_step = 0;

    const blurlevel = {
        0: 4,
        1: 3,
        2: 2,
        3: 1,
        4: 0
    }
    if (game_data.status >= 1) {
        console.log('starting now')
        setTimeout(() => {
            startGame();
        }, 500);
    }

    renamer.addEventListener('keydown', function (e) {
        if (e.code === 'Enter') {
            socket.emit('rename', { 'id': getCookie('user_id'), 'game': game_data.id, name: e.target.value })
        }
    })
    function importUsersToUserMap() {
        var players = game_data.players;
        for (const pl of players) {
            user_map[pl] = 'New User'
        }
        for (const pl of players) {
            socket.emit('whois', { 'id': pl })
        }
    }
    function showImage() {
        gameplay.innerHTML = ''
        const im = game_data.images[current_round - 1]
        // Hide share code, and start button
        share.innerHTML = ''
        start.style.display = 'none'
        // Add image to gameplay
        var img = document.createElement('img')
        img.src = '/public/im/' + im + '-' + blurlevel[current_step] + '.jpg'
        gameplay.appendChild(img)
        // Show letter count
        var div = document.createElement('div')
        div.classList.add('flex', 'flex-row', 'items-end', 'justify-center', 'gap-1')
        var letters = game_data.letter_map[im + '']
        for (let i = 0; i < letters; i++) {
            var p = document.createElement('p')
            p.innerText = '\u00A0'
            p.classList.add('underline', 'text-6xl')
            div.appendChild(p);
        }
        gameplay.appendChild(div)
        var inputdiv = document.createElement('div')
        inputdiv.classList.add('w-full', 'flex', 'items-center', 'justify-center')
        var input = document.createElement('input')
        input.type = 'text'
        input.id = 'guess'
        input.classList.add('bg-neutral-900', 'text-white', 'w-1/4', 'mx-auto', 'p-4')
        input.placeholder = 'Guess?'
        input.onkeydown = (e) => {
            if (e.code === "Enter") {
                console.log({ 'text': e.target.value, 'user': getCookie('user_id'), 'game': game_data.id })
                socket.emit('guess', { 'text': e.target.value, 'user': getCookie('user_id'), 'game': game_data.id, 'round': current_round, 'step': current_step })
            }
        }
        inputdiv.appendChild(input);
        gameplay.appendChild(inputdiv);
    }
    importUsersToUserMap();

    function updatePlayerList() {
        playerlist.innerHTML = '';
        var players = Object.entries(user_map).map(([k, v]) => ({
            id: k, name: v
        }));
        for (const player of players) {
            var div = document.createElement('div')
            var p = document.createElement('p')
            p.innerText = player.name
            p.id = player.id
            div.appendChild(p)
            playerlist.appendChild(div)
        }
    }

    socket.on('connect', function () {
        socket.emit('join', {
            game: game_data.id,
            user: getCookie('user_id')
        })
        updatePlayerList();
    })

    socket.on('message', function (data) {
        console.log(data)
    })

    function startGame() {
        // Make sure there is at least 2 players
        if (game_data.players.length < 2 || game_data.players.length > 10) {
            return;
        }
        socket.emit('start_game', { 'game': game_data.id, 'user': getCookie('user_id') })
    }


    socket.on('new_user', function (data) {
        if (!game_data.players.includes(data.user)) {
            game_data.players.push(data.user)
        }
        socket.emit('whois', { 'id': data.user, 'game': game_data.id })
        updatePlayerList();
    })

    socket.on('user_name', function (data) {
        user_map[data.id] = data.display
        updatePlayerList();
    })

    socket.on('renamed', function (data) {
        user_map[data.id] = data.name;
        updatePlayerList();
    })
    socket.on('start', function (data) {
        game_data = data;
        showImage(game_data.images[game_data.status - 1], game_data.step)
    })
    socket.on('guess_response', function (data) {
        if (data.user !== getCookie('user_id')) {
            return
        }
        if (data.correct) {
            window['current_round']++;
            if (window['current_round'] > game_data.rounds) {
                goToScores();
            }
            current_step = 0;
            console.log('correct')
            showImage();
        } else {
            current_step++;
            if (current_step > 4) {
                current_step = 0;
                current_round++;
                if (window['current_round'] > game_data.rounds) {
                    goToScores();
                }
            }
            showImage();
        }
    })

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function goToScores() {
        window.location.href = `/game/${game_data.id}/scores`
    }
</script>

</html>