<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarity</title>
    <link rel="stylesheet" type="text/css" href="/public/out.css" />
</head>

<body class="dark:bg-neutral-950 dark:text-white">

    <noscript>
        <div
            class="z-50 absolute top-0 left-0 flex items-center justify-center w-full h-full bg-white pointer-events-none">
            <p class="text-red-500 text-9xl">Javascript is required for this site.</p>
        </div>
    </noscript>
    <div class="text-center mt-4 flex flex-col gap-2 w-1/4 min-w-[5cm] max-w-[30cm] mx-auto py-8 my-4">
        <h1 class="text-5xl font-semibold">Clarity</h1>
        <p class="text-xl">Click the button below to start a game, or read below to learn how to play.</p>
        <a class="bg-neutral-700 text-white px-3 py-2 rounded-md" href="/start?rounds=3" id="start">Start game</a>
        <select name="rounds" id="rounds" class="dark:bg-neutral-800 p-2 rounded-md border-r-8 dark:border-neutral-800">
            <option value="3">3 Rounds</option>
            <option value="5">5 Rounds</option>
            <option value="10">10 Rounds</option>
            <option value="15">15 Rounds</option>
        </select>
    </div>
    <div
        class="py-8 my-4 text-start max-w-[30cm] w-1/4 mx-auto min-w-[10cm] border-2 dark:border-neutral-600 rounded-xl px-2">
        <h2 class="text-3xl font-semibold">How to play</h2>
        <h3 class="text-2xl mt-2">1. Press start game</h3>
        <p class="dark:text-neutral-400">This will create a game that people can join, on this page you can also change
            your username</p>
        <h3 class="text-2xl mt-2">2. Share the link to your friends</h3>
        <p class="dark:text-neutral-400">This link will allow them to join your game, and to change their own usernames.
        </p>
        <h3 class="text-2xl mt-2">3. Press start game</h3>
        <p class="dark:text-neutral-400">Once you have enough people (min 2, max 10), you can start the game.
        </p>
        <h3 class="text-2xl mt-2">4. Guess the subject of the photo you see</h3>
        <p class="dark:text-neutral-400">Once the photo appears, you will need to try to guess what the subject is, if
            you fail, the image gets clearer, and eventually reveals itself. Each time the image gets clearer, you lose
            1 point for that level.
        </p>
        <h3 class="text-2xl mt-2">5. View the leaderboard</h3>
        <p class="dark:text-neutral-400">When you complete the last question, you will be able to see the leaderboard,
            which shows your results, if someone in your group finishes after you, just refresh when they are done to
            see their score.
        </p>
    </div>
    <div
        class="py-8 my-4 text-start max-w-[30cm] w-1/4 mx-auto min-w-[10cm] border-2 dark:border-neutral-600 rounded-xl px-2">
        <h2 class="text-3xl font-semibold">Information</h2>
        <h3 class="text-2xl mt-2">Limited pictures</h3>
        <p class="dark:text-neutral-400">There are a limited number of pictures, 17 at the time of writing, so if you do
            15 rounds, you'll have done almost all pictures.</p>
        <h3 class="text-2xl mt-2">Picture sources</h3>
        <p class="dark:text-neutral-400">Images are sourced from unsplash, so are under the unsplash license.</p>
</body>

<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    } //https://www.w3schools.com/js/js_cookies.asp
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    } //https://www.w3schools.com/js/js_cookies.asp

    if (!getCookie('user_id')) {
        const id = crypto.randomUUID();
        setCookie('user_id', id, 7)
    }
    document.getElementById('rounds').addEventListener('change', function (e) {
        var rounds = e.target.value;
        document.getElementById('start').href = '/start?rounds=' + rounds;
    })
</script>

</html>